/* http://meyerweb.com/eric/too../fonts/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

label {
    font-weight: bold;
}
/* FONT FACE */


@font-face {
    font-family: 'Oxygen Regular';
    src: url('../fonts/Oxygen-Regular.eot');
    src: url('../fonts/Oxygen-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Regular.woff') format('woff'),
         url('../fonts/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen Bold';
    src: url('../fonts/Oxygen-Bold.eot');
    src: url('../fonts/Oxygen-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Bold.woff') format('woff'),
         url('../fonts/Oxygen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen Light';
    src: url('../fonts/Oxygen-Light.eot');
    src: url('../fonts/Oxygen-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oxygen-Light.woff') format('woff'),
         url('../fonts/Oxygen-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Mukta Bold';
    src: url('../fonts/Mukta-Bold.eot');
    src: url('../fonts/Mukta-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mukta-Bold.woff') format('woff'),
         url('../fonts/Mukta-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular.woff') format('woff'),
         url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light.woff') format('woff'),
         url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif Bold';
    src: url('../fonts/PTSerif-Bold.eot');
    src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSerif-Bold.woff') format('woff'),
         url('../fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT Serif Regular';
    src: url('../fonts/PTSerif-Regular.eot');
    src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSerif-Regular.woff') format('woff'),
         url('../fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
	font-family: sans-serif;
}


.bold {
	font-weight: bold;
}

.block {
	display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.left {
    float: left;
}

.right {
    float: right;
}

.txt-ao-centro {
	text-align: center;
}

.txt-a-esquerda {
	text-align: left;
}

.txt-a-direita {
	text-align: right
}

.capitalize {
	text-transform: capitalize;
}

.inline-block {
	display: inline-block;
}

.flexbox-container {
	display: flex;
	flex-wrap: wrap;
}

.flexbox-item {
	display: flex;
}

.clearfix {
	clear: both;
}

.oxygen-regular {
    font-family: 'Oxygen Regular';	
}

.oxygen-bold {
    font-family: 'Oxygen Bold';
}

.oxygen-light {
    font-family: 'Oxygen Light';
}

.mukta-bold {
    font-family: 'Mukta Bold';	
}


.open-sans-light {
    font-family: 'Open Sans Light';	
}

.area-login {
	width: 350px;
    margin-top: 200px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.btn-acessar {
	margin: 30px auto;
	font-size: 20px;
}

.btn-cancelar {
	font-size: 22px;
}
.input-principal {
	border: 0px;
	background: transparent;
	border-bottom: 2px solid #205297;
	border-radius: 0px;
	box-shadow: none;
}


.chamada-home {
	font-weight: bold;
}

tbody {
    color: #212121;
    border: 1px solid black;
}


.titulo-dados {
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 115%;
}

.subtitulo-dados {
    font-weight: bold;
    margin: 3px;
}

.inputs-iniciais {
    width: auto;
}

td {
    padding-left: 5px;
    text-align: center;
}

.teste {
    margin: 0px auto;
    border: 3px;
}

.v-align {
    vertical-align: middle;
}

table {
  border: 1px solid black;  
}

.conteudo-ao-centro {
    margin: 0px auto;
}

.logout {
    float: right;
    margin: 10px;
}

.area-campo {
    margin-top: 10px;
}

.menu-principal {
    border: 2px solid black;
    
}

.input-tabelas {
    width: 60px;
}

.input-tabelas-coordenadas {
    width: 120px;
}

.espaco-tabela {
    margin: 10px;
    padding-bottom: 10px;
}

.elimina-recuo {
    padding-left: 0px;
}

.espaca-linha {
    margin: 5px;
}

.login-form{ 
    margin-top:60px; 
    box-shadow: 0px 0px 10px 1px grey; 
    border-radius:5px; 
    padding-bottom:20px; 
    background: white;
} 
.title{ 
    background: #007bbf; 
    padding:10px; 
    text-align:center; 
    color: #fff; 
    border-radius: 0px 0px 10px 10px;
}

.espaca-coluna {
    width: 45px;
}